# <span style="color:darkblue"> Lecture 10b: Alternative ways of filtering </span>

<font size = "5">

This optional lecture presents an alternative <br>
 way of filtering

## <span style="color:darkblue"> I. Import Libraries and Read Files</span>

In [1]:
# the "pandas" library is for manipualting datasets
# the "matplotlib.pyplot" library is for creating graphs
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Read the car features dataset
carfeatures = pd.read_csv("data_raw/features.csv")

## <span style="color:darkblue"> II. Filtering Dataframes Based on Logical Expressions </span>

<font size = "5">

Extract the cars (rows) with mpg greater than or equal to 25

<font size = "5">

Using the square bracket operator

In [3]:
carfeatures['mpg']>=25

0      False
1      False
2      False
3      False
4      False
       ...
393     True
394     True
395     True
396     True
397     True
Name: mpg, Length: 398, dtype: bool

In [4]:
carfeatures[carfeatures['mpg']>=25]

      mpg  cylinders  displacement horsepower  weight  acceleration vehicle_id
18   27.0          4            97         88    2130          14.5  D-1689978
19   26.0          4            97         46    1835          20.5  V-1689989
20   25.0          4           110         87    2672          17.5  P-1690000
22   25.0          4           104         95    2375          17.5  S-1690022
23   26.0          4           121        113    2234          12.5  B-1690033
..    ...        ...           ...        ...     ...           ...        ...
393  27.0          4           140         86    2790          15.6  F-1694103
394  44.0          4            97         52    2130          24.6  V-1694114
395  32.0          4           135         84    2295          11.6  D-1694125
396  28.0          4           120         79    2625          18.6  F-1694136
397  31.0          4           119         82    2720          19.4  C-1694147

[169 rows x 7 columns]

In [58]:
(carfeatures['acceleration']>=10) & (carfeatures['acceleration']<18)

0       True
1       True
2       True
3       True
4       True
       ...
393     True
394    False
395     True
396    False
397    False
Name: acceleration, Length: 398, dtype: bool

In [59]:
carfeatures[(carfeatures['acceleration']>=10) & (carfeatures['acceleration']<18)]

      mpg  cylinders  displacement horsepower  weight  acceleration vehicle_id
0    18.0          8           307        130    3504          12.0  C-1689780
1    15.0          8           350        165    3693          11.5  B-1689791
2    18.0          8           318        150    3436          11.0  P-1689802
3    16.0          8           304        150    3433          12.0  A-1689813
4    17.0          8           302        140    3449          10.5  F-1689824
..    ...        ...           ...        ...     ...           ...        ...
390  32.0          4           144         96    2665          13.9  T-1694070
391  36.0          4           135         84    2370          13.0  D-1694081
392  27.0          4           151         90    2950          17.3  C-1694092
393  27.0          4           140         86    2790          15.6  F-1694103
395  32.0          4           135         84    2295          11.6  D-1694125

[315 rows x 7 columns]

<font size = "5">

When comparing two ```pandas``` series we need to use the bitwise operators for ```or``` (```|```) and for ```and``` (```&```) because we need to do element-to-element boolean comparison of a Series

In [40]:
carfeatures[(carfeatures['acceleration']>= 10) & (carfeatures['acceleration']< 18)]

,mpg,cylinders,displacement,horsepower,weight,acceleration,vehicle_id,new variable,new variable two
0,18.0,8,307,130,3504,12.0,C-1689780,18.0,18.0
1,15.0,8,350,165,3693,11.5,B-1689791,15.0,15.0
2,18.0,8,318,150,3436,11.0,P-1689802,18.0,18.0
3,16.0,8,304,150,3433,12.0,A-1689813,16.0,16.0
4,17.0,8,302,140,3449,10.5,F-1689824,17.0,17.0
...,...,...,...,...,...,...,...,...,...
390,32.0,4,144,96,2665,13.9,T-1694070,32.0,32.0
391,36.0,4,135,84,2370,13.0,D-1694081,36.0,36.0
392,27.0,4,151,90,2950,17.3,C-1694092,27.0,27.0
393,27.0,4,140,86,2790,15.6,F-1694103,27.0,27.0
395,32.0,4,135,84,2295,11.6,D-1694125,32.0,32.0

<font size = "5">

Why using ```pandas.query()``` instead of square<br>
bracket operator?

Here is a great explanation:

<font size = "4">

https://stackoverflow.com/questions/67341369/pandas-why-query-instead-of-bracket-operator